*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    min-height: 100%;
    position: relative;
}

body{
    display: flex; /*Usar esta propiedad para manipular los demás contenedores*/
    flex-wrap: wrap; /*Para que los div puedan reposicionarse si su tamaño lo permite a medida que crece el viewport*/
    margin-bottom: 3rem;
}

/*ENCABEZADO*/

header{
    background-color: yellowgreen;
    position: fixed;
    width: 100%;
    height: 4rem;
}

header nav{
    background-color: yellow;
    position: relative;
    display: flex;
    margin: auto;
    min-width: 20rem;
    max-width: 102rem;
    height: 4rem;
}

.items-nav-container{
    display:inline-flex;
    width: 100%;
}

.logo{
    display: flex;
    width: 4rem;
}

.title{
    background-color: violet;
    display: flex;
    margin: auto;
}

.menu-container{
    background-color: tomato;
    position: relative;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
}

/*FIN ENCABEZADO*/

/*CONTENIDO*/

p{
    font-size: 2rem;
    padding: 1.5rem;
    min-width: 20rem;
    max-width: 102rem;
    display: flex;
    margin: auto;
}
main{
    background-color:turquoise;
    display: block;
    width: 100%;
    margin-top: 4rem;
}

aside{
    background-color: tomato;
}
section{
    background-color: steelblue;
}

section .banner{
    background-color: aliceblue;
    min-width: 20rem;
    max-width: 102rem;
    display: flex;
    margin: auto;
}

section .banner h2{
    display: flex;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.section2{
    background-color: springgreen;
    display: block;
    min-width: 20rem;
    max-width: 102rem;
    margin: auto;
}

.section2 .first-content .pic1{
    background-color: rgb(73, 12, 73);
    display: block;
    width: 100%;
    height: 6rem;
}
.section2 .pic1-description{
    background-color: rgb(216, 216, 216);
    display: block;
    width: 100%;
}


/*FIN CONTENIDO*/

/*PIE DE PÁGINA*/

footer{
    background-color: slateblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

/*FIN PIE DE PÁGINA*/

