*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    min-height: 100%;
}

body{
    display: flex; /*Usar esta propiedad para manipular los demás contenedores*/
    flex-wrap: wrap; /*Para que los div puedan reposicionarse si su tamaño lo permite a medida que crece el viewport*/
}

/*ENCABEZADO*/

header{
    background-color: yellowgreen;
    width: 100%;
    height: 4rem;
}

header nav{
    background-color: yellow;
    position: relative;
    display: flex;
    margin: auto;
    min-width: 20rem;
    max-width: 102rem;
    height: 4rem;
}

.items-nav-container{
    display:inline-flex;
    width: 100%;
}

.logo{
    display: flex;
    width: 4rem;
}

.title{
    background-color: violet;
    display: flex;
    margin: auto;
}

.menu-container{
    background-color: tomato;
    position: relative;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
}

/*FIN ENCABEZADO*/

/*CONTENIDO*/

main{
    background-color:turquoise;
    width: 100%;
    display: block;
}

aside{
    background-color: tomato;
}
section{
    background-color: steelblue;
}

/*FIN CONTENIDO*/

/*PIE DE PÁGINA*/

footer{
    background-color: slateblue;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*FIN PIE DE PÁGINA*/

